
/* Header */

/* Carrusel */
#contenedorCarrusel {
    width: 100%;
    overflow: hidden;
  }
  
  .carousel {
    width: 100%;
  }
  .carousel-image {
    max-height: 400px;
    width: auto;
  }

/* Body */


/* Cards */
.card-img-top{
  max-height: 300px;
}

/* Footer */ 
footer{
  width: 100%;
  background: rgb(32, 32, 32);
  color: white;
}
.container-footer-all{
  width: 100%;
  max-width: 1200px;
  margin: auto;
  padding: 40px;
}
.container-body{
  display: flex;
  justify-content: space-between;
}
.colum1{
  max-width: 400px;
}
.colum1 h1{
  font-size: 22px;
}
.colum p{
  font-size: 14px;
  color: aquamarine;
  margin-top: 20px;
}
.colum2{
  max-width: 400px;
}
.colum2 h1{
  font-size: 22px;
}
.colum2 .row{
  margin-top: 20px;
  display: flex;
}
.row-img1{
  width: 50px;
  height: 50px;
  background-color: white;
  border-radius: 12px;
}
.row-label-a{
  margin-top: 10px;
  margin-left: 10px;
  color: white;
}
#textopie{
  font-style: normal;
}
.colum3{
  max-width: 400px;
}
.colum3 h1{
  font-size: 22px;
}
.row2{
  margin-top: 20px;
  display: flex;
}
.row2 img{
  width: 50pxpx;
  height: 50px;
  background-color: white;
  border-radius: 13px;
}
.row2 label{
  margin-top: 14px;
  margin-left: 20px;
  max-width: 140px;
}
.container-footer{
  width: 100%;
  background: black;
}
.footer{
  max-width: 1200px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  padding: 20px;
}
.copyright{
  color: aqua;
}
.copyright a{
  text-decoration: none;
  color: white;
  font-weight: bold;
}
.information{
  text-decoration: none;
  color: rgb(138, 130, 130);
}

/* Pagina Contacto */
/* Contactanos */
#card-contacto{
  border-width: 5px;
  box-shadow:  inset 0 -1em 4em black;
  border-color: rgb(0, 0, 0);
  border-radius: 5%;
  background-color:rgb(228, 93, 255) ;
  align-items: center;
  padding: 10px;
}
#titulo-contacto{
  text-align: center;
  text-transform: uppercase;
  color: black;    
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.card-img-top-contact{
  width: 150px;
  height: 150px;
}
#googlemap{
  height: 400px;
  width: 530px;
}
.tituloctc-final{
  text-align: center;
  text-transform: uppercase;
}
.areatexto{
  height: 200px;
  width: 424px;
}

/* Pagina Nosotros */
.esteban1{
  width: auto;
  max-width: 1390px;
  margin: auto;
  display: flex;
  grid-template-columns: 900px 400px;
  grid-gap: 50px;
  margin-top: 20px;
}

/* Login */
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-form {
  max-width: 300px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: center;
  color: wheat;
  background-color: black;
}

.login-form input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.login-form button {
  width: 100%;
  padding: 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.login-form a {
  display: block;
  margin-top: 10px;
  text-decoration: none;
  color: #666;
}